@import url(https://fonts.googleapis.com/css?family=Oswald);


body{
  margin: 0;
}
/*top of home page*/
.home {
  text-align: center;
  color: black;
  background: url('imgs/ws_Columbia_Mountain_River_Grass_1366x768.jpg') no-repeat center center;
  height: 900px;
  width: 100%;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*login page*/
.login{
  text-align: center;
  color: black;
  background: url('imgs/ws_Columbia_Mountain_River_Grass_1366x768.jpg') no-repeat center center;
  height: 900px;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

<
.loginform{
  display: inline-block;
}
/*signup page*/
.signup{
  text-align: center;
  color: white;
  background: url('imgs/valley-background-wallpaper-1.jpg' ) no-repeat  center center ;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*member page*/
.memberpage{
  background-color: #444;
  color: black;
  background: url('imgs/row_of_plain_pencils_against_grey_background.jpg' ) no-repeat center center;
  height: auto;
  width: 100%;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  font-family: "Oswald", sans-serif;

}
#lower{
  color: white;
  margin: 0;
}
/*videos page*/

.topvid{
  text-align: center;
  padding-top: 65px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.search{
  border-radius:7px;
}
.comment{
  padding-top: 65px;
  margin-left: 25px;
}


.videos{
  text-align: center;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding-bottom: 30px;

}
/*admin*/
.admin{
  text-align: center;
  color: black;
background: url('imgs/row_of_plain_pencils_against_grey_background.jpg' ) no-repeat center center;
  height: 900px;;
  width: 100%;
  background-size: 100% 100%;
  padding-top: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }}

  /*media queries*/
