<div class="admin">
  <div class="page-header" >
    <h1>{{user.username}}</h1>
  </div>
  <form  class="form" ng-submit="videos()">
    <div hide-form="showing" class="form-group">
      <label hide-form="showing">Title</label>
      <input hide-form="showing" type="text" class="form-control" name="Title" ng-model="newvidForm.Title" required>
      <label hide-form="showing">Description</label>
      <input hide-form="showing" type="text" class="form-control" name="Desc" ng-model="newvidForm.Desc" required>
      <label hide-form="showing">Link</label>
      <input hide-form="showing" type="url" class="form-control" name="link" ng-model="newvidForm.link" required>
      <label hide-form="showing">Topic</label>
      <input hide-form="showing"  type="text" class="form-control" name="topic" ng-model="newvidForm.topic" required>
    </div>
      <div>
        <button ng-click="toggle()" >Add Video</button>
      </div>
  </form>
  <div ng-controller="vidCtrl">

<a  ng-repeat="video in videos">
<h4>{{video.Title}}</h4><br/>
  <a class="btn btn-default" role="button" ng-click="delete(video._id)">Delete</a></a>

</div>
</div>
