<div class="topvid">
  <input class="search" type="text" style="300px" ng-model="search" placeholder="Search...">
    <h1>Videos</h1>
    <div class="videos" ng-repeat="video in videos | filter: search">
      <div class="videos" ng-if="video">
        <iframe width="560" height="315"  src="{{trustSrc(  video.link)}}" frameborder="4px" allowfullscreen></iframe>

      <h4>{{video.Desc}}</h4>

      <h4> {{video.topic}}</h4>
      <input class="search" type="text"  placeholder="Comments" />
      <h4> {{video.comments}}</h4>
      <button>
   <i class="fa fa-star fa-2x" style="color: yellow" ng-click="favoriteVideo(video._id)"></i>
 </button>
    </div>



      <!-- <div class="vid-item" ng-click="document.getElementById('vid_frame').src={{trustSrc(  video.link)}}autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
        	<img src="{{video.link}}">
        </div>
        <div class="desc">{{video.Title}}
        </div>
      </div> -->
      <!-- <div class="arrows">
      	<div class="arrow-left">
      		<i class="fa fa-chevron-left fa-lg"></i>
      	</div>
      	<div class="arrow-right">
      		<i class="fa fa-chevron-right fa-lg"></i>
      	</div>
      </div> -->



</div>

</div>
